In [205]:
import pandas as pd 
from difflib import SequenceMatcher as SM
df_club=pd.read_csv("Clubs_data.csv")
df_meta=pd.read_csv("Metadata.csv")
df_organiser=pd.read_csv("Organisers_In_Fests.csv")
df_participants=pd.read_csv("Participants_In_Fests.csv")

In [206]:
def is_similarity(first, second, ratio):
    return SM(None, first, second).ratio() > ratio

In [207]:
for Index, row in df_club.iterrows():
    # print(Index, len(df_club.iloc[Index]["Name"]))
    df_club.at[Index, "Name"] = row["Name"].lower()
    for Index2, row2 in df_meta.iterrows():
        df_meta.at[Index2, "Name"] = row2["Name"].lower()
        if is_similarity(row["Name"], row2["Name"], 0.64):
            df_club.at[Index, "Name"] = row2["Name"]

In [208]:
list_small_5 = []
for Index, row in df_club.iterrows():
    if len(df_club.iloc[Index]["Name"]) < 5:
        list_small_5.append(Index)

In [209]:
df_club = df_club.drop(df_club.index[list_small_5])

In [210]:
for Index, row in df_participants.iterrows():
    df_participants.at[Index, "Name"] = row["Name"].lower()
    for Index2, row2 in df_meta.iterrows():
        df_meta.at[Index2, "Name"] = row2["Name"].lower()
        if is_similarity(row["Name"], row2["Name"], 0.59):
            df_participants.at[Index, "Name"] = row2["Name"]

In [211]:
list_small_7 = []
for Index, row in df_participants.iterrows():
    if len(df_participants.iloc[Index]["Name"]) < 7:
        list_small_7.append(Index)

In [212]:
df_participants = df_participants.drop(df_participants.index[list_small_7])

In [213]:
df_participants.head(30)

   Club_Name              Name           Event         Role
0     club_3    darien martens  club_3_event_2  Participant
1     club_2      sage schrock  club_2_event_1  Participant
2     club_3      alison mcvey  club_3_event_2  Participant
3     club_1    kiara jauregui  club_1_event_1  Participant
4     club_2         tate blum  club_2_event_3  Participant
5     club_2     louis samuels  club_2_event_2  Participant
6     club_2     marcel wenger  club_2_event_3  Participant
7     club_2  janine mccormack  club_2_event_2  Participant
8     club_3    quinton taylor  club_3_event_2  Participant
9     club_2  janine mccormack  club_2_event_1  Participant
10    club_3   everardo cronin  club_3_event_1  Participant
11    club_3  warren schofield  club_3_event_1  Participant
12    club_1         ezra lord  club_1_event_2  Participant
13    club_2             aya k  club_2_event_2  Participant
14    club_1  alannah chisholm  club_1_event_2  Participant
15    club_3   kaitlynn sotelo  club_3_event_1  Participant
16    club_1      grayson heim  club_1_event_1  Participant
18    club_2     clyde lindsay  club_2_event_1  Participant
19    club_2    judith howland  club_2_event_2  Participant
20    club_2   milo greenfield  club_2_event_1  Participant
21    club_3           a elena  club_3_event_2  Participant
22    club_1      haylie garay  club_1_event_1  Participant
23    club_3    sana fairbanks  club_3_event_1  Participant
24    club_1    evelin bradley  club_1_event_1  Participant
25    club_3      denise minor  club_3_event_2  Participant
26    club_2   santiago nadeau  club_2_event_3  Participant
27    club_2      grady sample  club_2_event_2  Participant
28    club_1      chelsey dean  club_1_event_1  Participant
30    club_2    darrius albers  club_2_event_2  Participant
31    club_2   isabelle harman  club_2_event_2  Participant