In [2]:
import pandas as pd 
from difflib import SequenceMatcher as SM
df_club=pd.read_csv("Clubs_data.csv")
df_meta=pd.read_csv("Metadata.csv")
df_organiser=pd.read_csv("Organisers_In_Fests.csv")
df_participants=pd.read_csv("Participants_In_Fests.csv")

In [3]:
def is_similarity(first, second, ratio):
    return SM(None, first, second).ratio() > ratio

In [4]:
for Index, row in df_club.iterrows():
    # print(Index, len(df_club.iloc[Index]["Name"]))
    df_club.at[Index, "Name"] = row["Name"].lower()
    for Index2, row2 in df_meta.iterrows():
        df_meta.at[Index2, "Name"] = row2["Name"].lower()
        if is_similarity(row["Name"], row2["Name"], 0.64):
            df_club.at[Index, "Name"] = row2["Name"]

In [5]:
list_small_5 = []
for Index, row in df_club.iterrows():
    if len(df_club.iloc[Index]["Name"]) < 5:
        list_small_5.append(Index)

In [6]:
df_club = df_club.drop(df_club.index[list_small_5])

In [7]:
for Index, row in df_participants.iterrows():
    df_participants.at[Index, "Name"] = row["Name"].lower()
    for Index2, row2 in df_meta.iterrows():
        df_meta.at[Index2, "Name"] = row2["Name"].lower()
        if is_similarity(row["Name"], row2["Name"], 0.59):
            df_participants.at[Index, "Name"] = row2["Name"]

In [8]:
list_small_7 = []
for Index, row in df_participants.iterrows():
    if len(df_participants.iloc[Index]["Name"]) < 7:
        list_small_7.append(Index)

In [9]:
df_participants = df_participants.drop(df_participants.index[list_small_7])

In [10]:
df_participants.head(30)

   Fest_Name               Name            Event
0     fest_1       jayna rowley   fest_1_event_9
1     fest_1      dorian medina   fest_1_event_4
2     fest_2      joaquin crist   fest_2_event_1
3     fest_1     cathryn duarte   fest_1_event_4
4     fest_2        maren sears  fest_2_event_15
5     fest_2   kaitlin grantham  fest_2_event_13
6     fest_2  sebastien hickman   fest_2_event_9
8     fest_2    javonte trevino  fest_2_event_15
9     fest_1        nora snyder   fest_1_event_5
10    fest_1    isabell perales  fest_1_event_12
11    fest_2       denise minor  fest_2_event_12
12    fest_1        kolby sturm  fest_1_event_12
13    fest_2   monica grabowski   fest_2_event_6
14    fest_1       denise minor   fest_1_event_6
15    fest_1     ashanti koenig   fest_1_event_3
16    fest_2          shawn kay   fest_2_event_7
17    fest_2    luiz mclaughlin  fest_2_event_14
18    fest_1       thea mccloud   fest_1_event_4
19    fest_1    killian ratliff   fest_1_event_9
20    fest_1        maren sears  fest_1_event_13
21    fest_2         rahul vera   fest_2_event_5
22    fest_2     judith howland  fest_2_event_12
23    fest_2       yisroel sisk   fest_2_event_4
24    fest_2     gerald arreola   fest_2_event_3
25    fest_2          shawn kay   fest_2_event_5
26    fest_1    efrain trujillo  fest_1_event_10
27    fest_2         cody garay   fest_2_event_3
28    fest_2        alina ervin  fest_2_event_15
29    fest_1  gisselle thornton   fest_1_event_5
30    fest_2       serenity ngo   fest_2_event_3

In [11]:
df_club.to_json('temp.json.gz', orient='records', lines=True, compression='gzip')

In [12]:
df_club

     Club_Name             Name           Event         Role
0       club_3   darien martens  club_3_event_2  Participant
1       club_2     sage schrock  club_2_event_1  Participant
2       club_3     alison mcvey  club_3_event_2  Participant
3       club_1   kiara jauregui  club_1_event_1  Participant
4       club_2        tate blum  club_2_event_3  Participant
...        ...              ...             ...          ...
1041    club_3      kalen logan  club_3_event_2  organiser_3
1042    club_3   kathrine leone  club_3_event_3  organiser_1
1043    club_1      ibrehimusku  club_1_event_2  Participant
1044    club_1  milo greenfield  club_1_event_2  Participant
1045    club_1      daisha yoon  club_1_event_2  Participant

[987 rows x 4 columns]

In [20]:
df_organiser=df_organiser.drop(13)
df_organiser=df_organiser.drop(15)
df_organiser

   Fest_Name                Name          Role
0     fest_2       Stcerr Hbmond   organiser_2
1     fest_2         Ayliwn Slks   organiser_6
2     fest_2  Sebestien Hickjman   organiser_7
3     fest_2     Grechen Chlewsn   organiser_8
4     fest_1            Evelin B   organiser_1
5     fest_2   leniez Gilbertson  organiser_10
6     fest_1    mRiver Flipcieno   organiser_2
7     fest_1            Leona Ca   organiser_9
8     fest_2           Ay Kehnei   organiser_1
9     fest_1       tbdulelh Hors   organiser_6
10    fest_2           S Stephon   organiser_3
11    fest_1       Prxry Pefryen  organiser_10
12    fest_1           Derii Dai   organiser_3
14    fest_1          Jordi Taem   organiser_4
16    fest_2    Reshawn Balsdeas   organiser_5
17    fest_1    Bline Mckesnezie   organiser_7
18    fest_1      Ashanti John K   organiser_8
19    fest_2      zoie mcdermott   organiser_9

In [21]:
print(df_club.shape)
print(df_participants.shape)
print(df_meta.shape)
print(df_organiser.shape)

(987, 4)
(4458, 3)
(500, 2)
(18, 3)