In [1]:
import pandas as pd 
from difflib import SequenceMatcher as SM
df_club=pd.read_csv("Clubs_data.csv")
df_meta=pd.read_csv("Metadata.csv")
df_organiser=pd.read_csv("Organisers_In_Fests.csv")
df_participants=pd.read_csv("Participants_In_Fests.csv")

In [2]:
def is_similarity(first, second, ratio):
    return SM(None, first, second).ratio() > ratio

In [3]:
#For Club name correction
for Index, row in df_club.iterrows():
    # print(Index, len(df_club.iloc[Index]["Name"]))
    df_club.at[Index, "Name"] = row["Name"].lower()
    for Index2, row2 in df_meta.iterrows():
        df_meta.at[Index2, "Name"] = row2["Name"].lower()
        if is_similarity(row["Name"], row2["Name"], 0.64):
            df_club.at[Index, "Name"] = row2["Name"]

In [4]:
list_small_5 = []
for Index, row in df_club.iterrows():
    if len(df_club.iloc[Index]["Name"]) < 7:
        list_small_5.append(Index)

In [5]:
df_club = df_club.drop(df_club.index[list_small_5])

In [6]:
#For Participants Name correction
for Index, row in df_participants.iterrows():
    df_participants.at[Index, "Name"] = row["Name"].lower()
    for Index2, row2 in df_meta.iterrows():
        df_meta.at[Index2, "Name"] = row2["Name"].lower()
        if is_similarity(row["Name"], row2["Name"], 0.59):
            df_participants.at[Index, "Name"] = row2["Name"]

In [7]:
list_small_7 = []
for Index, row in df_participants.iterrows():
    if len(df_participants.iloc[Index]["Name"]) < 7:
        list_small_7.append(Index)

In [8]:
df_participants = df_participants.drop(df_participants.index[list_small_7])

In [10]:
df_organiser = pd.read_csv("Organisers_In_Fests.csv")
df_organiser.head(20)

   Fest_Name                Name          Role
0     fest_2       Stcerr Hbmond   organiser_2
1     fest_2         Ayliwn Slks   organiser_6
2     fest_2  Sebestien Hickjman   organiser_7
3     fest_2     Grechen Chlewsn   organiser_8
4     fest_1            Evelin B   organiser_1
5     fest_2   leniez Gilbertson  organiser_10
6     fest_1    mRiver Flipcieno   organiser_2
7     fest_1            Leona Ca   organiser_9
8     fest_2           Ay Kehnei   organiser_1
9     fest_1       tbdulelh Hors   organiser_6
10    fest_2           S Stephon   organiser_3
11    fest_1       Prxry Pefryen  organiser_10
12    fest_1           Derii Dai   organiser_3
13    fest_1                  RB   organiser_5
14    fest_1          Jordi Taem   organiser_4
15    fest_2                  AM   organiser_4
16    fest_2    Reshawn Balsdeas   organiser_5
17    fest_1    Bline Mckesnezie   organiser_7
18    fest_1      Ashanti John K   organiser_8
19    fest_2      zoie mcdermott   organiser_9

In [11]:
for Index, row in df_organiser.iterrows():
    df_organiser.at[Index, "Name"] = row["Name"].lower()
    for Index2, row2 in df_meta.iterrows():
        df_meta.at[Index2, "Name"] = row2["Name"].lower()
        if is_similarity(row["Name"], row2["Name"], 0.69):
            df_organiser.at[Index, "Name"] = row2["Name"]

In [12]:
df_organiser.head(20)

   Fest_Name                Name          Role
0     fest_2       starr hammond   organiser_2
1     fest_2         aylin seals   organiser_6
2     fest_2   sebastien hickman   organiser_7
3     fest_2    gretchen clawson   organiser_8
4     fest_1      evelin bradley   organiser_1
5     fest_2  delanie gilbertson  organiser_10
6     fest_1     river feliciano   organiser_2
7     fest_1        leona cabral   organiser_9
8     fest_2         aya kennedy   organiser_1
9     fest_1      abdullah reddy   organiser_6
10    fest_2           s stephon   organiser_3
11    fest_1      perry perryman  organiser_10
12    fest_1         daria daily   organiser_3
13    fest_1                  rb   organiser_5
14    fest_1           jordi tam   organiser_4
15    fest_2                  am   organiser_4
16    fest_2    rashawn balderas   organiser_5
17    fest_1     blaine mckenzie   organiser_7
18    fest_1      ashanti koenig   organiser_8
19    fest_2      zoie mcdermott   organiser_9

In [13]:
list_small_7 = []
for Index, row in df_organiser.iterrows():
    if len(df_organiser.iloc[Index]["Name"]) < 7:
        list_small_7.append(Index)

In [14]:
df_combined = pd.concat([df_club,df_organiser,df_participants], ignore_index=True)

In [15]:
import numpy as np
# df_combined = df_combined.sort_values(by=["Name"])
df_combined['Roll No.'] = np.nan

In [16]:
for Index, row in df_combined.iterrows():
    for Index2, row2 in df_meta.iterrows():
        if row["Name"] == row2["Name"]:
            df_combined.at[Index, "Roll No."] = row2["ID"]

In [17]:
df_combined.head()

  Club_Name            Name           Event         Role Fest_Name    Roll No.
0    club_3  darien martens  club_3_event_2  Participant       NaN  17XJ1A0220
1    club_2    sage schrock  club_2_event_1  Participant       NaN  17XJ1A0165
2    club_3    alison mcvey  club_3_event_2  Participant       NaN  17XJ1A0255
3    club_1  kiara jauregui  club_1_event_1  Participant       NaN  17XJ1A0243
4    club_2       tate blum  club_2_event_3  Participant       NaN  18XJ1A0184

In [18]:
df_combined = df_combined.sort_values(by="Roll No.")

In [19]:
df_combined.head()

,Club_Name,Name,Event,Role,Fest_Name,Roll No.
1706,NaN,monet wallace,fest_2_event_5,NaN,fest_2,17XJ1A0100
1397,NaN,monet wallace,fest_2_event_3,NaN,fest_2,17XJ1A0100
931,club_2,monet wallace,club_2_event_1,Participant,NaN,17XJ1A0100
2857,NaN,monet wallace,fest_1_event_1,NaN,fest_1,17XJ1A0100
4953,NaN,monet wallace,fest_1_event_4,NaN,fest_1,17XJ1A0100

In [26]:
df_combined_No_Null.head()

,Roll No.,Name,Club_Name,Fest_Name,Event,Role
1706,17XJ1A0100,monet wallace,NaN,fest_2,fest_2_event_5,NaN
1397,17XJ1A0100,monet wallace,NaN,fest_2,fest_2_event_3,NaN
931,17XJ1A0100,monet wallace,club_2,NaN,club_2_event_1,Participant
2857,17XJ1A0100,monet wallace,NaN,fest_1,fest_1_event_1,NaN
4953,17XJ1A0100,monet wallace,NaN,fest_1,fest_1_event_4,NaN

In [20]:
df_combined_No_Null = df_combined[df_combined["Roll No."].notnull()]

In [21]:
df_combined_No_Null = df_combined_No_Null.sort_values(by="Roll No.")

In [ ]:
new_cols = ["Roll No.", "Name", "Club_Name", "Fest_Name" ,"Event", "Role"]
df_combined_No_Null=df_combined_No_Null.reindex(columns=new_cols)

In [22]:
df_combined_No_Null.to_csv('Combine.csv')

In [ ]:
[
    {
        'name': 'Dummy',
        'id': 'id000',
        'clubs': {
            'club_i': {
                'isOrganiser': 'Organiser',
                'club_i_event_j': {
                    'participated': False
                    },
            },
        },
        'fests': {
            'fest_i': {
                'isOrganiser': '',
                'fest_i_event_j': {
                    'participated': True
                    },
            },
        }
    }
]

In [ ]:
new_cols = []