In [31]:
import pandas as pd 
from difflib import SequenceMatcher as SM
df_club=pd.read_csv("Clubs_data.csv")
df_meta=pd.read_csv("Metadata.csv")
df_organiser=pd.read_csv("Organisers_In_Fests.csv")
df_participants=pd.read_csv("Participants_In_Fests.csv")

In [2]:
def is_similarity(first, second, ratio):
    return SM(None, first, second).ratio() > ratio

In [32]:
#For Club name correction
for Index, row in df_club.iterrows():
    # print(Index, len(df_club.iloc[Index]["Name"]))
    df_club.at[Index, "Name"] = row["Name"].lower()
    for Index2, row2 in df_meta.iterrows():
        df_meta.at[Index2, "Name"] = row2["Name"].lower()
        if is_similarity(row["Name"], row2["Name"], 0.64):
            df_club.at[Index, "Name"] = row2["Name"]

In [33]:
list_small_5 = []
for Index, row in df_club.iterrows():
    if len(df_club.iloc[Index]["Name"]) < 7:
        list_small_5.append(Index)

In [34]:
df_club = df_club.drop(df_club.index[list_small_5])

In [35]:
#For Participants Name correction
for Index, row in df_participants.iterrows():
    df_participants.at[Index, "Name"] = row["Name"].lower()
    for Index2, row2 in df_meta.iterrows():
        df_meta.at[Index2, "Name"] = row2["Name"].lower()
        if is_similarity(row["Name"], row2["Name"], 0.59):
            df_participants.at[Index, "Name"] = row2["Name"]

In [36]:
list_small_7 = []
for Index, row in df_participants.iterrows():
    if len(df_participants.iloc[Index]["Name"]) < 7:
        list_small_7.append(Index)

In [37]:
df_participants = df_participants.drop(df_participants.index[list_small_7])

In [9]:
df_club

     Club_Name             Name           Event         Role
0       club_3   darien martens  club_3_event_2  Participant
1       club_2     sage schrock  club_2_event_1  Participant
2       club_3     alison mcvey  club_3_event_2  Participant
3       club_1   kiara jauregui  club_1_event_1  Participant
4       club_2        tate blum  club_2_event_3  Participant
...        ...              ...             ...          ...
1041    club_3      kalen logan  club_3_event_2  organiser_3
1042    club_3   kathrine leone  club_3_event_3  organiser_1
1043    club_1      ibrehimusku  club_1_event_2  Participant
1044    club_1  milo greenfield  club_1_event_2  Participant
1045    club_1      daisha yoon  club_1_event_2  Participant

[987 rows x 4 columns]

In [75]:
df_organiser = pd.read_csv("Organisers_In_Fests.csv")
df_organiser.head(20)

   Fest_Name                Name          Role
0     fest_2       Stcerr Hbmond   organiser_2
1     fest_2         Ayliwn Slks   organiser_6
2     fest_2  Sebestien Hickjman   organiser_7
3     fest_2     Grechen Chlewsn   organiser_8
4     fest_1            Evelin B   organiser_1
5     fest_2   leniez Gilbertson  organiser_10
6     fest_1    mRiver Flipcieno   organiser_2
7     fest_1            Leona Ca   organiser_9
8     fest_2           Ay Kehnei   organiser_1
9     fest_1       tbdulelh Hors   organiser_6
10    fest_2           S Stephon   organiser_3
11    fest_1       Prxry Pefryen  organiser_10
12    fest_1           Derii Dai   organiser_3
13    fest_1                  RB   organiser_5
14    fest_1          Jordi Taem   organiser_4
15    fest_2                  AM   organiser_4
16    fest_2    Reshawn Balsdeas   organiser_5
17    fest_1    Bline Mckesnezie   organiser_7
18    fest_1      Ashanti John K   organiser_8
19    fest_2      zoie mcdermott   organiser_9

In [76]:
for Index, row in df_organiser.iterrows():
    df_organiser.at[Index, "Name"] = row["Name"].lower()
    for Index2, row2 in df_meta.iterrows():
        df_meta.at[Index2, "Name"] = row2["Name"].lower()
        if is_similarity(row["Name"], row2["Name"], 0.69):
            df_organiser.at[Index, "Name"] = row2["Name"]

In [79]:
df_organiser.head(20)

   Fest_Name                Name          Role
0     fest_2       starr hammond   organiser_2
1     fest_2         aylin seals   organiser_6
2     fest_2   sebastien hickman   organiser_7
3     fest_2    gretchen clawson   organiser_8
4     fest_1      evelin bradley   organiser_1
5     fest_2  delanie gilbertson  organiser_10
6     fest_1     river feliciano   organiser_2
7     fest_1        leona cabral   organiser_9
8     fest_2         aya kennedy   organiser_1
9     fest_1      abdullah reddy   organiser_6
10    fest_2           s stephon   organiser_3
11    fest_1      perry perryman  organiser_10
12    fest_1         daria daily   organiser_3
14    fest_1           jordi tam   organiser_4
16    fest_2    rashawn balderas   organiser_5
17    fest_1     blaine mckenzie   organiser_7
18    fest_1      ashanti koenig   organiser_8
19    fest_2      zoie mcdermott   organiser_9

In [ ]:
list_small_7 = []
for Index, row in df_organiser.iterrows():
    if len(df_organiser.iloc[Index]["Name"]) < 7:
        list_small_7.append(Index)

In [133]:
df_combined = pd.concat([df_club,df_organiser,df_participants], ignore_index=True)

In [136]:
import numpy as np
df_combined = df_combined.sort_values(by=["Name"])
df_combined['Roll No.'] = np.nan

In [138]:
for Index, row in df_combined.iterrows():
    for Index2, row2 in df_meta.iterrows():
        if row["Name"] == row2["Name"]:
            df_combined.at[Index, "Roll No."] = row2["ID"]

In [139]:
df_combined.head(40)

,Club_Name,Name,Event,Role,Fest_Name,Roll No.
4786,NaN,a avery,fest_2_event_11,NaN,fest_2,NaN
99,club_3,a ciera,club_3_event_2,Participant,NaN,NaN
19,club_3,a elena,club_3_event_2,Participant,NaN,NaN
1984,NaN,a eleni,fest_1_event_12,NaN,fest_1,NaN
4221,NaN,a gerald,fest_1_event_10,NaN,fest_1,NaN
4217,NaN,a gerald,fest_2_event_1,NaN,fest_2,NaN
606,club_2,abagail marx,club_2_event_1,Participant,NaN,18XJ1A0202
311,club_2,abagail marx,club_2_event_2,Participant,NaN,18XJ1A0202
274,club_1,abagail marx,club_1_event_2,Participant,NaN,18XJ1A0202
2005,NaN,abagail marx,fest_2_event_2,NaN,fest_2,18XJ1A0202
193,club_3,abagail marx,club_3_event_1,Participant,NaN,18XJ1A0202
4847,NaN,abagail marx,fest_1_event_3,NaN,fest_1,18XJ1A0202
4679,NaN,abdullah reddy,fest_1_event_1,NaN,fest_1,17XJ1A0145
3424,NaN,abdullah reddy,fest_2_event_4,NaN,fest_2,17XJ1A0145
3495,NaN,abdullah reddy,fest_1_event_5,NaN,fest_1,17XJ1A0145
1841,NaN,abdullah reddy,fest_2_event_2,NaN,fest_2,17XJ1A0145
2008,NaN,abdullah reddy,fest_1_event_4,NaN,fest_1,17XJ1A0145
747,club_1,abdullah reddy,club_1_event_2,Participant,NaN,17XJ1A0145
3719,NaN,abdullah reddy,fest_1_event_3,NaN,fest_1,17XJ1A0145
244,club_2,abdullah reddy,club_2_event_1,Participant,NaN,17XJ1A0145
986,NaN,abdullah reddy,NaN,organiser_6,fest_1,17XJ1A0145
281,club_1,abdullah reddy,club_1_event_1,Participant,NaN,17XJ1A0145
1310,NaN,abdullah reddy,fest_1_event_13,NaN,fest_1,17XJ1A0145
412,club_3,abdullah reddy,club_3_event_2,Participant,NaN,17XJ1A0145
2600,NaN,abdullah reddy,fest_1_event_8,NaN,fest_1,17XJ1A0145
3727,NaN,abdullah reddy,fest_1_event_5,NaN,fest_1,17XJ1A0145
1720,NaN,abdullah reddy,fest_2_event_3,NaN,fest_2,17XJ1A0145
2493,NaN,abdullah reddy,fest_1_event_7,NaN,fest_1,17XJ1A0145
1686,NaN,abdullah reddy,fest_1_event_3,NaN,fest_1,17XJ1A0145
2986,NaN,abdullah reddy,fest_1_event_9,NaN,fest_1,17XJ1A0145
3665,NaN,abdullah reddy,fest_1_event_11,NaN,fest_1,17XJ1A0145
798,club_3,abdullah reddy,club_3_event_2,Participant,NaN,17XJ1A0145
2195,NaN,abigale jimenez,fest_1_event_2,NaN,fest_2,17XJ1A0141
4898,NaN,abigale jimenez,fest_1_event_6,NaN,fest_1,17XJ1A0141
3448,NaN,abigale jimenez,fest_2_event_10,NaN,fest_2,17XJ1A0141
4700,NaN,abigale jimenez,fest_2_event_12,NaN,fest_2,17XJ1A0141
677,club_2,abrianna delarosa,club_2_event_1,Participant,NaN,17XJ1A0158
387,club_2,abrianna delarosa,club_2_event_2,Participant,NaN,17XJ1A0158
937,club_1,abrianna delarosa,club_1_event_1,Participant,NaN,17XJ1A0158
532,club_1,abril co,club_1_event_1,Participant,NaN,NaN

In [153]:
nullValue_array_Index = df_combined[df_combined['Roll No.'].isnull()].index.tolist()
print(nullValue_array_Index)

[4786, 99, 19, 1984, 4221, 4217, 532, 881, 5424, 4599, 898, 524, 496, 544, 2343, 1735, 5440, 1366, 735, 4461, 2253, 4836, 4479, 4641, 3316, 4909, 4577, 3803, 5092, 3592, 803, 138, 4010, 1675, 5292, 1896, 821, 3790, 1052, 4026, 2638, 2603, 133, 5161, 715, 312, 4265, 1357, 2480, 172, 4595, 5204, 1034, 127, 493, 4664, 2172, 2597, 3551, 1874, 4465, 46, 54, 2004, 3388, 259, 248, 2779, 640, 213, 939, 5125, 3437, 3971, 499, 703, 731, 4646, 44, 4972, 288, 48, 794, 4303, 2014, 5261, 4843, 173, 4558, 3595, 5226, 2064, 1137, 5362, 4921, 2481, 4080, 5345, 2837, 1727, 1709, 4496, 2762, 4013, 3848, 334, 4065, 5001, 4069, 3008, 741, 1647, 316, 476, 4025, 1626, 5091, 1479, 4955, 2239, 4918, 184, 4194, 3671, 974, 744, 199, 4464, 1314, 3357, 4795, 4869, 1811, 253, 646, 695, 78, 4530, 1982, 2441, 2399, 2949, 2807, 2650, 4720, 3762, 5227, 1377, 4021, 827, 4177, 3724, 1500, 344, 2035, 2483, 3009, 2714, 2516, 383, 422, 2210, 4896, 2586, 3914, 1557, 5229, 888, 627, 73, 1447, 2254, 5242, 4456, 343, 617, 318, 41, 433, 737, 231, 949, 157, 3659, 1198, 3780, 4873, 1587, 808, 409, 1096, 147, 177, 706, 1545, 3377, 2105, 1566, 4813, 4610, 767, 4230, 174, 3715, 4935, 4668, 1887, 5174, 3767, 4919, 4129, 903, 1352, 85, 4623, 5203, 106, 2389, 4273, 2544, 3204, 3819, 630, 4543, 3007, 5186, 4144, 1696, 449, 3198, 5439, 355, 1338, 380, 4788, 3827, 1116, 3811, 1136, 679, 4179, 987, 1399, 4182, 4859, 552, 1803, 3397, 3150, 2400, 4298, 2975, 929, 1933, 825, 2713, 3147, 119, 3897, 2706, 3557, 772, 192, 2726, 2043, 2934]

In [154]:
df_combined.iloc[4786]

KeyError: 4786

In [16]:
# df_combined.columns 
# ID=[]
# for i in range(1,len(df_combined)+1):
#     ID.append(i)
# df_combined["ID"]=ID
# df_combined.tail()

     Club_Name              Name            Event Role Fest_Name    ID
4763       NaN    zoie mcdermott   fest_2_event_9  NaN    fest_2  5459
4764       NaN      jayna rowley   fest_2_event_7  NaN    fest_2  5460
4765       NaN   debra clevenger  fest_2_event_11  NaN    fest_2  5461
4766       NaN     theron stroud   fest_1_event_6  NaN    fest_1  5462
4768       NaN  kendrick valadez   fest_2_event_2  NaN    fest_2  5463

In [19]:
# df_combined["Club_Name"]=df_combined["Club_Name"].fillna("Not There")
# df_combined["Event"]=df_combined["Club_Name"].fillna("Not There")
# df_combined["Role"]=df_combined["Role"].fillna("Not There")
# df_combined["Fest_Name"]=df_combined["Fest_Name"].fillna("Not There") 

# df_combined.head()

  Club_Name            Name   Event         Role  Fest_Name  ID
0    club_3  darien martens  club_3  Participant  Not There   1
1    club_2    sage schrock  club_2  Participant  Not There   2
2    club_3    alison mcvey  club_3  Participant  Not There   3
3    club_1  kiara jauregui  club_1  Participant  Not There   4
4    club_2       tate blum  club_2  Participant  Not There   5

In [21]:
# df_combined["Name"].head() 
# names=df_meta["Name"].tolist()
# roll=df_meta["ID"].tolist() 

# df_combined.set_index("ID", drop=True, inplace=True)
# dictionary_combined = df_combined.to_dict(orient="index")

In [25]:
# print(dictionary_combined[1])

{'Club_Name': 'club_3', 'Name': 'darien martens', 'Event': 'club_3', 'Role': 'Participant', 'Fest_Name': 'Not There'}

In [22]:
# for i in range(dictionary_combined):
#     for j in range(names):
#         if dictionary_combined[i]["Name"]==names[j]:
#             dictionary_combined[i]["Name"]=roll[j]

TypeError: 'dict' object cannot be interpreted as an integer